body{font-family: "Arial"}
a{text-decoration: none;}

.product-container{width:300px; border:1px solid #aaa; margin:10px; display:inline-block; position:relative;}
.product-container img{width:100%; height:auto;}
.row{width:946px;}

.col1{float:left;}
.col2{margin:10px auto;}
.col3{float:right;}

.title{font-size:20px;}
.description{padding:10px;}

.desc1{display:none;}
.desc1 div{float:right; padding:10px 10px 0 0 ;}

/* DESCRIPTION DIV STYLE	 */
.product-container  .desc1{
	position:absolute;
	display:none;
	background-color:#ccc;
	z-index:3;
	top:0;
	left:0px;
	width:300px;
	height:100%;

};

/* QUERIES FROM 767px TO 480px */

@media only screen and (min-width: 480px) and (max-width: 767px)  {
.product-container{width:100%; border:1px solid #aaa; margin:10px 0; display:block; position:relative;}
.product-container img{width:100%; height:auto;}
.row{width:100%;}
.col1{float:none;}
.col2{float:none;}
.col3{float:none;}
.desc1{display:none;}
.desc1 div{float:right; padding:10px;}
.product-container  .desc1{
	position:absolute;
	display:none;
	background-color:#ccc;
	z-index:3;
	top:0;
	left:0px;
    width:100%;
	height:100%;

};
}

/* QUERIES FROM 480px and less than 480px */

@media only screen and (max-width: 480px)  {
.product-container{width:100%; border:1px solid #aaa; margin:10px 0; display:block; position:relative;}
.product-container img{width:100%; height:auto;}
.row{width:100%;}
.col1{float:none;}
.col2{float:none;}
.col3{float:none;}
.desc1{display:none;}
.desc1 div{float:right; padding:10px;}
.product-container  .desc1{
	position:absolute;
	display:none;
	background-color:#ccc;
	z-index:3;
	top:0;
	left:0px;
    width:100%;
	height:100%;
	
};
}
